@{
  Layout = "_Layout";
}


<div class="container">

@using HairSalon.Models;

<h1>To Do List</h1>
<h2>Stylist: @Model["stylist"].GetStylistName()</h2>
<hr />

@if (@Model["stylistsClients"].Count != 0)
{
  <h4>Here are all the clients who use this stylist:</h4>
  <ul>
    @foreach (var client in @Model["stylistsClients"])
    {
      <li>@client.GetClientName()</li>
    }
  </ul>
}

<h4>Add a client to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <label for='clientId'>Select a client</label>
  <select id='clientId' name='clientId' type='text'>

    @foreach (var client in @Model["clients"])
    {
      <option value='@client.GetId()'>@client.GetClientName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>


<p><a href="/stylists/@Model["stylist"].GetId()/edit">Edit Stylist</a></p>
<p><a href="/stylists/@Model["stylist"].GetId()/delete">Delete Stylist</a></p>


</div>