@{
  Layout = "_Layout";
}


<div class="container">

@using HairSalon.Models;

<h1 class="pagetop">Stylist: @Model["stylist"].GetStylistName()</h2>
<hr />

@if (@Model["stylistsClients"].Count != 0)
{
  <h4>Here are all the clients who use this stylist:</h4>
  <ul>
    @foreach (var client in @Model["stylistsClients"])
    {
      <li>@client.GetClientName()</li>
    }
  </ul>
}

@if (@Model["stylistSpecialties"].Count != 0)
{
  <h4>Here are all the specialties for that stylist:</h4>
  <ul>
    @foreach (var specialty in @Model["stylistSpecialties"])
    {
      <li>@specialty.GetSpecialtyName()</li>
    }
  </ul>
}

<h4>Add a client to this stylist:</h4>

<form id="clientSubmit" action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <label for='clientId'>Select a client</label>
  <select id='clientId' name='clientId' type='text'>
  <option disabled selected value> -- select an option -- </option>

    @foreach (var client in @Model["clients"])
    {
      <option value='@client.GetId()'>@client.GetClientName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<!-- <h4>Add a specialty to this stylist:</h4>

<form id="specialtySubmit" action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
  <label for='specialtyId'>Select a specialty: </label>
  <select id='specialtyId' name='specialtyId' type='text'>
  <option disabled selected value> -- select an option -- </option>
    @foreach (var specialty in @Model["specialties"])
    {
      <option value='@specialty.GetId()'>@specialty.GetSpecialtyName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form> -->

<p><a href="/stylists/@Model["stylist"].GetId()/edit">Edit Stylist</a></p>
<p><a href="/stylists/@Model["stylist"].GetId()/delete" onclick="return confirm('Are you sure you want to delete this stylist?')">Delete Stylist</a></p>
<p><a href="/stylists">Back to Stylists</a></p>

<script>

</script>


</div>