@{
  Layout = "_Layout";
}
<div class="container">

@using HairSalon.Models;


<h1 class="pagetop">Client: @Model["selectedClient"].GetClientName()</h1>
<hr />

@if (@Model["clientStylists"].Count != 0)
{
  <h4>This client uses these stylists:</h4>
  <ul>
    @foreach (Stylist stylist in @Model["clientStylists"])
    {
      <li>@stylist.GetStylistName()</li>
    }
  </ul>
}

<h4>Add a stylist this client uses:</h4>

<form action='/clients/@Model["selectedClient"].GetId()/stylists/new' method='post'>
  <label for='stylistId'>Select a stylist</label>
  <select id='stylistId' name='stylistId' type='text'>
  <option disabled selected value> -- select an option -- </option>
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value='@stylist.GetId()'>@stylist.GetStylistName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/clients/@Model["selectedClient"].GetId()/edit">Edit Client</a></p>
<p><a href="/clients/@Model["selectedClient"].GetId()/delete" onclick="return confirm('Are you sure you want to delete this client?')">Delete Client</a></p>
<p><a href="/clients/">Back to client list</a></p>


</div>